---
import Layout from '../layouts/Layout.astro';

import About from '../components/About.astro';
import Projects from '../components/Projects.astro';
import Education from '../components/Education.astro';
import Hero from '../components/Hero.astro';
import Skills from '../components/Skills.astro';
import Lang from '../components/Lang.astro';
---

<Layout title="Gastón Capdevila">
	<main>
		<Hero />
		
		<About />

		<Skills />

		<Education />

		<Lang />

		<Projects />
		
	</main>
	<h4>
		Ctrl + P for print like a Resume
	</h4>
</Layout>

<style>
	main{
		padding: 4rem;
		margin: auto;
		width: 100%;
	}

	h4{
		text-align: center;
		margin-bottom: 20px;
		margin-top: -40px;
		color: #677e97;
		font-size: 0.85rem;
	}

	@media print {
		h4{
			display: none;
		}
	}
	
</style>
