---
const today = new Date();
---

<footer class="footer">
  <div>
    &copy; {today.getFullYear()} Gastón Capdevila
  </div>
  <div>
    Developed by <a href="https://github.com/Gaston118" target="_blank">Gastón Capdevila</a> 
  </div>
  <div class="based">
    Based on the work of
    <a href="https://jarocki.me/" target="_blank">Bartosz Jarocki</a>
  </div>
  <span>
    Ctrl + P for print like a resume
  </span>
</footer>

<style>
    .footer{
        background-color: #e7e7e7;
        color: #3d3d3d;
        text-align: center;
        padding: 1.5rem;
        border-radius: 1.5rem 1.5rem 0 0;
    }

    a{
        color: #000000;
        text-decoration: none;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    a:hover{
        text-decoration: underline;
    }

    span{
        font-size: 0.9rem;
    }

    :global(.dark) .footer{
      background-color: black;
      color: #b0b0b0;
    }

    :global(.dark) a{
        color: #e7e7e7;
    }

    :global(.dark) a:hover{
        text-decoration: underline;
        color: #ff3ebb;
    }

    @media print {
        .footer {
            display: none;
        }
    }

</style>