---
import Section from "./Section.astro"

import {skills} from "../../cv.json"
---

<Section title="Skills">
    <ul>
        {
            skills.map(({name}) => (
                <li>
                    <span>{name}</span>
                </li>
            ))
        }
    </ul>
</Section>

<style>
    ul{
        display: inline-flex;
        gap: 8px;
        flex-wrap: wrap;
    }

    li{
        border-radius: 6px;
        background: #888888;
        color: #e7e7e7;
        font-size: 0.9rem;
        font-weight: 500;
        padding: 0.2rem 0.5rem;
        transition: all 0.3s ease;
    }

    li:hover{
        background: #e7e7e7;
        color: black;
    }

    :global(.dark) li{
        background-color: #111111;
        color: #d1d1d1;
        border: 1px solid #5d5d5d;
    }

    :global(.dark) li:hover{
        color: #ff3ebb;
        border: 1px solid #ff3ebb;
    }


    @media print{
        li{
            color: black;
        }
    }

</style>
